.App {
  text-align: center;
}
table, th, td {
  border: 1px solid;
  padding: 10px;
}

.delete-btn {
  color: #d10a0a;
  font-size: 15px;
  font-weight: 600;
}

.restore-btn {
  color: #0d9724;
  font-size: 15px;
  font-weight: 600;
}
